@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.table-row-padding > td {
  padding: 0.75rem 0px; /* Adjust the padding value as needed */
}

.table-row-padding > th {
  padding: 0.75rem 0px; /* Adjust the padding value as needed */
}



@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  
}
